body
    min-height: 100vh
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    border: 1px solid #444
    header, section
        border: 1px solid #444
    section
        .task
            article
                display: flex